TemperaturumrechnerClient/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7462/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TemperaturUmrechnerService" />
  <xs:element name="CelsiusToKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wert" type="xs:double" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TemperaturUmrechnerService" minOccurs="0" name="auth" type="q1:AuthenticationToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusToKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusToKelvinResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="calcResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusToFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wert" type="xs:double" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TemperaturUmrechnerService" minOccurs="0" name="auth" type="q2:AuthenticationToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusToFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusToFahrenheitResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="calcResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinNachCelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wert" type="xs:double" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TemperaturUmrechnerService" minOccurs="0" name="auth" type="q3:AuthenticationToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinNachCelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KelvinNachCelsiusResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="calcResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinNachFahreheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wert" type="xs:double" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TemperaturUmrechnerService" minOccurs="0" name="auth" type="q4:AuthenticationToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinNachFahreheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KelvinNachFahreheitResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="calcResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitNachCelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wert" type="xs:double" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TemperaturUmrechnerService" minOccurs="0" name="auth" type="q5:AuthenticationToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitNachCelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitNachCelsiusResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="calcResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitNachKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wert" type="xs:double" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TemperaturUmrechnerService" minOccurs="0" name="auth" type="q6:AuthenticationToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitNachKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitNachKelvinResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="calcResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TemperaturUmrechnerService" minOccurs="0" name="composite" nillable="true" type="q7:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TemperaturUmrechnerService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q8:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertKunde">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TemperaturUmrechnerService" minOccurs="0" name="k" nillable="true" type="q9:Kunden" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertKundeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertKundeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TemperaturUmrechnerService" minOccurs="0" name="auth" type="q10:AuthenticationToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" type="xs:boolean" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TemperaturUmrechnerService" minOccurs="0" name="auth" type="q11:AuthenticationToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>